<ion-header>
  <ion-toolbar>
    <ion-title>
      QuickTrade
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <h3>usuario: {{correo}}</h3>
  <div class="ion-margin-top">
  <ion-button expand="block" [routerLink]="['/listado']" routerDirection="forward" size="default">Listado de productos</ion-button>
  </div>
  <div class="ion-margin-top">
  <ion-button expand="block" (click)="addProducto()" size="default">Insertar Producto</ion-button>
</div>
  <div class="ion-margin-top">
  <ion-button expand="block" (click)="misProductos()" routerDirection="forward" size="default">Mis Productos</ion-button>
</div>
<div class="ion-margin-top">
<ion-button expand="block" [routerLink]="['/lista-precio/',correo]" (click)="listaprecio()" routerDirection="forward" size="default">lista precio</ion-button>
</div>
</ion-content>
